{% extends "MC12SubscriptionBundle:Common:layout.html.twig" %}

{% block title %}{{ parent() }} - Pilot {% endblock %}

{% block body %}

    {{ form_start(form) }}
    <ul class="stepper linear">
        <li class="step active">
            <div class="step-title waves-effect" data-step-label="Informations générales">Pilote</div>
            <div class="step-content">
                <div class="row">
                    <div class="col input-field l6 m6">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.firstName) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.firstName, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.firstName, "Prénom") }}
                    </div>
                    <div class="col input-field l6 m6">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.lastName) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.lastName, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.lastName, "Nom") }}
                    </div>
                    <div class="col l6 m6">
                        {# Génération du label. #}
                        {{ form_label(form.competitor.birthDate, "Date de naissance") }}
                        {{ form_widget(form.competitor.birthDate) }}
                        {{ form_errors(form.competitor.birthDate) }}

                    </div>
                    <div class="col l6 m6">
                        {# Génération du label. #}
                        {{ form_label(form.competitor.nationality, "Nationalité") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.nationality) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.nationality, {'attr': {'class': 'validate'}}) }}
                    </div>
                </div>
                <div class="step-actions">
                    <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect" data-step-label="Informations de contact">Pilote</div>
            <div class="step-content">
                <div class="row">
                    <div class="col input-field l12">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.address) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.address, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.address, "Adresse") }}
                    </div>
                    <div class="col input-field l12">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.adressComp) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.adressComp, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.adressComp, "Complément") }}
                    </div>
                    <div class="col input-field l4">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.postalCode) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.postalCode, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.postalCode, "Code Postal") }}
                    </div>
                    <div class="col input-field l4">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.city) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.city, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.city, "Ville") }}
                    </div>
                    <div class="col input-field l4">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.country) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.country, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.country, "Pays") }}
                    </div>
                    <div class="col input-field l6 m6">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.email) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.email, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.email, "Email") }}
                    </div>
                    <div class="col input-field l6 m6">
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.phone) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.phone, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.phone, "Tel") }}
                    </div>
                </div>
                <div class="step-actions">
                    <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect" data-step-label="Moto et assurance">Véhicule</div>
            <div class="step-content">
                <div class="row">
                    <div class="col m6">
                        <h5>Description</h5>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.motorbike.brand) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.motorbike.brand, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.motorbike.brand, "Marque") }}
                        </div>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.motorbike.cylinder) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.motorbike.cylinder, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.motorbike.cylinder, "Cylindrée") }}
                        </div>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.motorbike.registrationNumber) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.motorbike.registrationNumber, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.motorbike.registrationNumber, "Immatriculation") }}
                        </div>
                    </div>
                    <div class="col m6">
                        <h5>Assurance</h5>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.motorbike.insurance.insuranceCompanyName) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.motorbike.insurance.insuranceCompanyName, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.motorbike.insurance.insuranceCompanyName, "Nom") }}
                        </div>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.motorbike.insurance.insuranceRegistrationNumber) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.motorbike.insurance.insuranceRegistrationNumber, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.motorbike.insurance.insuranceRegistrationNumber, "Numéro de police") }}
                        </div>
                    </div>
                </div>
                <div class="step-actions">
                    <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect">Permis et licence</div>
            <div class="step-content">
                <div class="row">
                    <div class="col l6">
                        <h5>Licence</h5>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.licence.type) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.licence.type, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.licence.type, "Type") }}
                        </div>
                        <div class="col input-field l12">
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.licence.number) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.licence.number, {'attr': {'class': 'validate'}}) }}
                            {# Génération du label. #}
                            {{ form_label(form.competitor.licence.number, "Numéro") }}
                        </div>
                    </div>
                    <div class="col l6">
                        <h5>Permis</h5>
                        <div class="col l12">
                            {# Génération du label. #}
                            {{ form_label(form.competitor.driveLicence.category, "Catégorie") }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.driveLicence.category) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.driveLicence.category, {'attr': {'class': 'validate'}}) }}
                        </div>
                        <div class="col l12">
                            {# Génération du label. #}
                            {{ form_label(form.competitor.driveLicence.deliveryDate, "Date d'obtention") }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.driveLicence.deliveryDate) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.driveLicence.deliveryDate, {'attr': {'class': 'datepicker'}}) }}
                        </div>
                        <div class="col l12">
                            {# Génération du label. #}
                            {{ form_label(form.competitor.driveLicence.number, "Numéro") }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.driveLicence.number) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.driveLicence.number, {'attr': {'class': 'validate'}}) }}
                        </div>
                    </div>
                </div>
                <div class="step-actions">
                    <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect">Club et catégorie</div>
            <div class="step-content">
                <div class="row">
                    <div class="col l6">
                        <div class="col l12">
                            {# Génération du label. #}
                            {{ form_label(form.competitor.club.name, "Nom") }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.club.name) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.club.name, {'attr': {'class': 'validate'}}) }}
                        </div>
                        <div class="col l12">
                            {# Génération du label. #}
                            {{ form_label(form.competitor.club.region, "Région") }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.club.region) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.club.region, {'attr': {'class': 'validate'}}) }}
                        </div>
                        <div class="col l12">
                            {# Génération du label. #}
                            {{ form_label(form.competitor.club.country, "Pays") }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.competitor.club.country) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.competitor.club.country, {'attr': {'class': 'validate'}}) }}
                        </div>
                    </div>
                    <div class="col l6">
                        {# Génération du label. #}
                        {{ form_label(form.competitor.category, "Catégorie") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.category) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.category, {'attr': {'class': 'validate'}}) }}
                        {# Génération du label. #}
                        {{ form_label(form.competitor.group, "Group") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.competitor.group) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.competitor.group, {'attr': {'class': 'validate'}}) }}
                    </div>

                </div>
                <div class="step-actions">
                    <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect">Repas</div>
            <div class="step-content">
                <div class="row">
                    <div class="col l6">
                        {% for subscriptionMeal in form.subscriptionMeals %}
                            {# Génération du label. #}
                            {{ form_label(subscriptionMeal.number) }}
                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(subscriptionMeal.number) }}
                            {# Génération de l'input. #}
                            {{ form_widget(subscriptionMeal.number, {'attr': {'class': 'validate'}}) }}
                        {% endfor %}
                    </div>


                </div>
            </div>
        </li>
    </ul>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
