<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Souscription MC12{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import Materialize-Stepper CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/materialize-stepper.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mc12.css') }}">
</head>
<body>
    <header class="subscriptionheader valign-wrapper">
        <div class="title">
            <h5 class="white-text center-align">Souscription MC12</h5>
        </div>
    </header>
    <main>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </main>
</body>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="{{ asset('assets/js/materialize-stepper.js') }}"></script>
<script src="{{ asset('assets/js/script.js') }}" defer></script>
{# S'il y a une erreur, on l'affiche dans un joli cadre #}
<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <script>
            Materialize.toast("<i class=\"material-icons\">check_circle</i> {{ message }}", 4000, 'green')
        </script>
    {% endfor %}
    {% for message in app.session.flashbag.get('alert') %}
        <script>
            Materialize.toast("<i class=\"material-icons\">error</i> {{ message }}", 4000, 'red')
        </script>
    {% endfor %}
</div>
</html>