{% extends "MC12CoreBundle::mainlayout.html.twig" %}

{% block nav %}
    <nav>
        <div class="nav-wrapper">
            <a href="{{ path('mc12_admin_homepage') }}" class="brand-logo">ADMIN MC12</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('mc12_admin_races') }}">Races</a></li>
                <li><a href="{{ path('mc12_admin_categories') }}">Categories</a></li>
                <li><a href="{{ path('mc12_admin_user') }}">Users</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ path('mc12_admin_races') }}">Races</a></li>
                <li><a href="{{ path('mc12_admin_user') }}">Users</a></li>
                <li><a href="{{ path('mc12_admin_categories') }}">Categories</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
{% endblock %}

