{% extends 'MC12AdminBundle::nav.html.twig' %}

{% block body %}
<div class="row">
    <div class="col l6 m6 s12">
        <div class="panel6">
            <div class="panel_title">
                <h5>Compétiteur</h5>
            </div>
            <table class="centered bordered">
                <tbody>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ subscription.competitor.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ subscription.competitor.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ subscription.competitor.birthdate|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Nationalité</th>
                        <td>{{ subscription.competitor.nationality }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <div class="panel6">
            <div class="panel_title">
                <h5>Contact</h5>
            </div>
            <table class="bordered">
                <tbody>
                <tr>
                    <th><i class="material-icons">email</i></th>
                    <td>{{ subscription.competitor.email }}</td>
                </tr>
                <tr>
                    <th><i class="material-icons">local_phone</i></th>
                    <td>{{ subscription.competitor.phone }}</td>
                </tr>
                <tr>
                    <th><i class="material-icons">domain</i></th>
                    <td>
                        {{ subscription.competitor.adressComp }}<br/>
                        {{ subscription.competitor.address }}<br/>
                        {{ subscription.competitor.postalCode }} {{ subscription.competitor.city }}<br/>
                        {{ subscription.competitor.country }}<br/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h5>Moto</h5>
                </div>
                <table class="bordered centered">
                    <tbody>
                    <tr>
                        <th>Marque</th>
                        <td>{{ subscription.competitor.motorbike.brand }}</td>
                    </tr>
                    <tr>
                        <th>Cylindrée</th>
                        <td>{{ subscription.competitor.motorbike.cylinder }}</td>
                    </tr>
                    <tr>
                        <th>Immatriculation</th>
                        <td>
                            {{ subscription.competitor.motorbike.registrationNumber }}
                        </td>
                    </tr>
                    <tr>
                        <th>Assuré par</th>
                        <td>
                            {{ subscription.competitor.motorbike.insurance.insuranceCompanyName }} sous le numéro
                            {{ subscription.competitor.motorbike.insurance.insuranceRegistrationNumber }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h5>Licence</h5>
                </div>
                <table class="bordered centered">
                    <tbody>
                    <tr>
                        <th>Type</th>
                        <td>{{ subscription.competitor.licence.type }}</td>
                    </tr>
                    <tr>
                        <th>Numéro</th>
                        <td>{{ subscription.competitor.licence.number }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h5>Permis de conduire</h5>
                </div>
                <table class="bordered centered">
                    <tbody>
                    <tr>
                        <th>Type</th>
                        <td>{{ subscription.competitor.driveLicence.category }}</td>
                    </tr>
                    <tr>
                        <th>Date d'obtention</th>
                        <td>{{ subscription.competitor.driveLicence.deliveryDate|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Numéro</th>
                        <td>{{ subscription.competitor.driveLicence.number }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="panel6">
                <div class="panel_title">
                    <h5>Paiement</h5>
                </div>
                <table class="bordered centered">
                    <tbody>
                    <tr>
                        <th>Paiement effectué ?</th>
                        <td>
                            {% if subscription.paymentDone == true %}
                                <i class="small material-icons green-text">check_circle</i>
                            {% else %}
                                <i class="small material-icons red-text">remove_circle</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Validé ?</th>
                        <td>
                            {% if subscription.validated == true %}
                                <i class="small material-icons green-text">check_circle</i>
                            {% else %}
                                <i class="small material-icons red-text">remove_circle</i><br />
                                <button data-target="modalvalidate" class="btn modal-trigger">Valider !</button>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- Modal Structure -->
    <div id="modalvalidate" class="modal">
        <div class="modal-content">
            <h4>Valider l'inscription</h4>
            <p>Voulez-vous vraiment valider l'inscription ? Un email de confirmation sera envoyé à la personne concernée.</p>
        </div>
        <div class="modal-footer">
            <a href="{{ path('mc12_admin_validate_race_subscription', {'raceId': race.id, 'subscriptionId': subscription.id}) }}" class=" modal-action modal-close waves-effect waves-green btn-flat">Oui, c'est mon dernier mot !</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Laissez moi réfléchir</a>
        </div>
    </div>


{% endblock %}



